<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset= "utf-8" />
		<title>Online Election</title>
	</head>
	<body>
		<h1>
			Elections are Now Opened
		</h1>
		<h2>
			LOGIN
		</h2>
		<form>
			Full Birthname:<br>
		  	<input type="text" name="Full Birthname"><br>
		  	SSN:<br>
		  	<input type="text" name="SSN"><br>
		  	DOB:<br>
		  	<input type="text" name="DOB"><br>
		</form>
		<form action="../during.html">
    		<input type="submit" value="Sign In to Vote" />
		</form>
	</body>
</html>
