<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset= "utf-8" />
		<title>Online Election</title>
	</head>
	<body>
		<h1>
			Select a Canidate
		</h1>
		<div>
		  <input type="radio" id="huey" name="drone" value="huey"
		         checked>
		  <label for="huey">Huey</label>
		</div>

		<div>
		  <input type="radio" id="dewey" name="drone" value="dewey">
		  <label for="dewey">Dewey</label>
		</div>

		<div>
		  <input type="radio" id="louie" name="drone" value="louie">
		  <label for="louie">Louie</label>
		</div>
		<form action="../verify.html">
    		<input type="submit" value="Cast Vote" />
		</form>
	</body>
</html>
