<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset= "utf-8" />
		<title>Online Election</title>
	</head>
	<body>
		<p>Your Voter Info:</p>
		<p>&emsp;Name: {{currentVoter.full_legal_name}}</p>
		<p>&emsp;Has voted?: {{currentVoter.has_voted}}</p>

		<h1>
			Select a Canidate
		</h1>

		<form action="{{ url_for('cast_vote') }}" method="POST">
			{% for candidate in candidates %}
				<input type="radio" name="candidate[]" value="{{candidate[0]}}"/>{{candidate[1]}}<br>
			{% endfor %}
			<input type="submit" value="Cast Vote" />
			<input type="hidden" name="full_legal_name" value="{{currentVoter.full_legal_name}}"/>
		</form>
	</body>
</html>
