
<p><b>Election Start Time:</b> {{startTime}}</p>
<p><b>Election End Time:</b> {{endTime}}</p>

{% block content %}
    <h1>Sign In to Vote</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.fullName.label }}<br>
            {{ form.fullName(size=32) }}
            {% for error in form.fullName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ssn.label }}<br>
            {{ form.ssn(size=32) }}
            {% for error in form.fullName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.dob.label }}<br>
            {{ form.dob(size=32) }}
            {% for error in form.fullName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

<h2>Results of the Election</h2>
<form action="{{ url_for('results_page') }}">
    <a href=#><button class='btn btn-default'>Election Results</button></a>
</form>